@font-face {
    font-family: "Excalibur";
    src: url("../fonts/Excalibur\ Nouveau.ttf");
}

body {
    background-image: url("../media/galaxy.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Excalibur";
    color: white;
    text-shadow: 4px 4px 8px #000000;
}

.titulo {
    width: 100%;
    font-size: 10vw;
    text-align: center;
    margin: 2vh auto 0 auto;
}

.linea {
    border: 2px solid white;
    margin: 2vh 18vw;
}

.photo-box-nestor {
    display: flex;
    justify-content: center;
}

.photo-box-nestor img {
    object-fit: cover;
    height: 50vh;
}

.info {
    display: flex;
    flex-direction: column;
}

.fecha {
    font-size: 8vw;
    text-align: center;
    margin: 0 auto 0 auto;
}

.madrid {
    font-size: 8vw;
    text-align: center;
    margin: 1vh auto 0 auto;
}

.photo-box-ojo {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.photo-box-ojo img {
    object-fit: cover;
    height: 18vw;
    width: 18vw;
}

.mas-info {
    margin-top: 2vh;
    font-size: 7vw;
    text-align: center;
}

@media (max-width: 480px) {}