    @font-face {
        font-family: "Excalibur";
        src: url("../fonts/Excalibur\ Nouveau.ttf");
    }
    
    body {
        background-image: url("../media/galaxy.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        font-family: "Excalibur";
        color: white;
        text-shadow: 5px 5px 10px #000000;
    }
    
    .titulo {
        width: 100%;
        font-size: 10vw;
        text-align: center;
        margin: 2vh auto 0 auto;
    }
    
    .linea {
        border: 2px solid white;
        margin: 2vh 18vw;
    }
    
    .grid {
        display: grid;
        grid-template-areas: "photo ";
    }
    
    .photo-box-nestor {
        margin-top: -2vh;
        display: flex;
        justify-content: center;
        grid-area: photo;
    }
    
    .photo-box-nestor img {
        object-fit: cover;
        height: 45vh;
    }
    
    .fecha {
        font-size: 8vw;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    
    .madrid {
        font-size: 8vw;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    
    .photo-box-ojo {
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }
    
    .photo-box-ojo img {
        object-fit: cover;
        height: 16vw;
        width: 16vw;
    }
    
    .rot-eye {
        -webkit-animation: rotation 2s infinite linear;
    }
    
    .inverse-rot-eye {
        -webkit-animation: inv-rotation 2s infinite linear;
    }
    
    .mas-info {
        margin-top: 2vh;
        font-size: 7vw;
        text-align: center;
    }
    
    @media (max-width: 1064px) {
        .inverse-rot-eye {
            visibility: hidden;
        }
    }
    
    @media (min-width: 680px) {
        .titulo {
            font-size: 9vw;
        }
        .linea {
            margin: 1vh 22vw;
        }
        .photo-box-nestor {
            margin-top: -1vh;
        }
        .fecha {
            font-size: 6vw;
        }
        .madrid {
            font-size: 6vw;
        }
        .mas-info {
            font-size: 5vw;
        }
    }
    
    @media (min-width: 1064px) {
        .titulo {
            font-size: 5vw;
        }
        .linea {
            margin: 1vh 32vw;
        }
        .fecha {
            font-size: 5vw;
            grid-area: fecha;
        }
        .madrid {
            font-size: 5vw;
            grid-area: madrid;
        }
        .mas-info {
            font-size: 3vw;
        }
        .grid {
            display: grid;
            grid-template-columns: 30vw 40vw 30vw;
            grid-template-areas: "fecha photo madrid";
            align-items: center;
        }
        .photo-box-nestor img {
            object-fit: cover;
            height: 70vh;
        }
        .footer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: -5vh;
        }
        .photo-box-ojo img {
            object-fit: cover;
            height: 6vw;
            width: 6vw;
        }
    }
    
    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    
    @-webkit-keyframes inv-rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(-359deg);
        }
    }