@font-face {
    font-family: "Excalibur";
    src: url("../fonts/Excalibur\ Nouveau.ttf");
}

body {
    background-image: url("../media/galaxy.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Excalibur";
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 40px;
}

.photo-box img {
    object-fit: cover;
    height: 100%;
    width: 100%
}

@media (max-width: 480px) {}